ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="046d", RUN+="/usr/bin/systemctl restart logid"
ACTION=="add", SUBSYSTEM=="hidraw", KERNELS=="*046D:B03E*", RUN+="/usr/bin/systemctl restart logid"
