[Unit]
Description=Logitech Configuration Daemon
StartLimitIntervalSec=0
After=multi-user.target
Wants=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/logid
User=root
Restart=always
RestartSec=5s

[Install]
WantedBy=graphical.target
